# Exclude all files
*

# Except
!.bash_aliases
!.bash_profle
!.bashrc
!.inputrc
!.minttyrc
!.nanorc
!.tmux.conf
!.viminfo
!.vimrc
!.gitignore
!lib/
!bin/
!bin/*
bin/dex

# Ignore backup files
*~
bin/mail-notify-data
*.swp
*.pyc
.viminfo
