# Exclude all files
*

# Except
!lib/
!lib/*
!.bash_aliases
!.bash_functions
!.bash_profile
!.profile
!.bashrc
!.inputrc
!.minttyrc
!.nanorc
!.tmux.conf
!.viminfo
!.vimrc
!.gitignore
!.XCompose
!.Xmodmap
!.xinitrc
!.xsession
!.quotes
!bin/
!bin/*
bin/dex
bin/mail-notify-data
bin/rebaser

*.pyc
!.fluxbox/keys
!.fluxbox/startup

# But do Ignore nano backup files
.*~
*~
*.swp
# Applications that must be installed separately
bin/FoxitReader
bin/__check_version.py
bin/__latest_version.py
bin/check-all-versions
bin/verify-packages
