@import "common_config.rasi"

configuration {
/* automatically selects once filtered down to 1 item */
/*	auto-select: true; */
	modes: "window,windowcd";
	kb-element-next: "Tab,Alt+Tab";
	kb-element-prev: "ISO_Left_Tab,Alt+ISO_Left_Tab";
	window-format: "{workspace}/{title}/{class}";
  window {
    close-on-delete: false;
  }
}

@theme "/usr/share/rofi/themes/docu.rasi"

* {
    selected-normal-foreground:  rgba ( 2, 20, 63, 100 % );
    foreground:                  rgba ( 219, 223, 188, 100 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 0, 0, 0, 0 % );
    red:                         rgba ( 220, 50, 47, 100 % );
    selected-urgent-foreground:  rgba ( 2, 20, 63, 100 % );
    blue:                        rgba ( 38, 139, 210, 100 % );
    urgent-foreground:           rgba ( 255, 129, 255, 100 % );
    alternate-urgent-background: rgba ( 0, 0, 0, 0 % );
    active-foreground:           rgba ( 138, 196, 255, 100 % );
    lightbg:                     rgba ( 238, 232, 213, 100 % );
    selected-active-foreground:  rgba ( 2, 20, 63, 100 % );
    alternate-active-background: rgba ( 0, 0, 0, 0 % );
    background:                  rgba ( 0, 0, 33, 87 % );
    bordercolor:                 rgba ( 219, 223, 188, 100 % );
    alternate-normal-foreground: @foreground;
    normal-background:           rgba ( 0, 0, 208, 0 % );
    lightfg:                     rgba ( 88, 104, 117, 100 % );
    selected-normal-background:  rgba ( 219, 223, 188, 100 % );
    border-color:                @foreground;
    spacing:                     2;
    separatorcolor:              rgba ( 219, 223, 188, 100 % );
    urgent-background:           rgba ( 0, 0, 208, 0 % );
    selected-urgent-background:  rgba ( 255, 129, 127, 100 % );
    alternate-urgent-foreground: @urgent-foreground;
    background-color:            rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    active-background:           rgba ( 0, 0, 208, 0 % );
    selected-active-background:  rgba ( 138, 196, 255, 100 % );
}
window {
  background-color: @background;
}
message {
  border-color: @separatorcolor;
}
listview {
  lines: 3;
  fixed-columns: true;
  columns: 4;
  border-color: @separatorcolor;
}
entry {
    text-color: @foreground;
}
textbox {
    text-color: @foreground;
}
element-text {
    background-color: inherit;
    text-color:       inherit;
    font:   "Azeret Mono 10";
    vertical-align: 0.5;
}
element-icon {
    margin: 0px;
    padding: 0px;
    size: 25%;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}
element {
    children: [element-icon, element-text];
    border:           2px;
    /** 4px radius on corners. */
    border-radius: 4px ;
    border-color: @separatorcolor;
    background-color: @background;
    padding: 2px;
    spacing: 0px;
}
element.normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element.normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element.normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element.selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element.selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
button.selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
mode-switcher {
    border-color: @separatorcolor;
    background-color: @background;
}
inputbar {
    background-color: @background;
    text-color: @normal-foreground;
    font:   "Azeret Mono 12";
}
icon-keyboard {
    background-color: @background;
    border-color: @separatorcolor;
}
case-indicator {
    text-color: @normal-foreground;
}
entry {
    text-color: @normal-foreground;
    border-color: @separatorcolor;
    background-color: @background;
}
prompt, button{
    text-color: @normal-foreground;
}
textbox-prompt-colon {
    text-color: @normal-foreground;
}
button {
    background-color: @background;
    border-color: @separatorcolor;
    /** inherit font setting from parent */
    font: inherit;
    cursor: pointer;
}